.profile {
  width: 45%;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #ced7e0;
  text-decoration: none;
  color: #333;
  margin-bottom: 1rem;
}
